<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About | Ruby on Rails Tutorial App</title>
</head>

<body>
  
<h1>StaticPages#about</h1>
<p>Find me in app/views/static_pages/about.html.erb</p>

</body>
</html>