<%= provide(:title, "Contact")%>
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%# <title>Document</title> %>
</head>
<body>
  <h1>StaticPages#contact</h1>
  <p>Find me in app/views/static_pages/contact.html.erb</p>
</body>
</html>