<%# ここで定義して、Layoutのtitleで使うこともできる！ %>
<% provide(:title, "Home") %> <%# 変数を定義, 下で使う %>
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  
<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>
<p>I am AMI</p>

</body>
</html>