@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 160px;
}
section {
  overflow: auto;
}
textarea {
  resize: vertical;
}
.center {
  text-align: center;
  // scssの特徴。ネスト
  h1 {
    margin-top: 10px;
  }
}
// .center h1 {
//   margin-bottom: 10px;
// }

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  
  a {
    color: #555;
    &:hover {
      color: tomato;
    }
  }

  small {
    float:left;
  }
  
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}


