@import "bootstrap-sprockets";
@import "bootstrap";

$gray: #eaeaea;

// まとめて、使える。@include box_sizing で使える
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  padding-top: 160px;
}
section {
  overflow: auto;
}
textarea {
  resize: vertical;
}
.center {
  text-align: center;
  // scssの特徴。ネスト
  h1 {
    margin-top: 10px;
  }
}
// .center h1 {
//   margin-bottom: 10px;
// }

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  
  a {
    color: #555;
    &:hover {
      color: tomato;
    }
  }

  small {
    float:left;
  }
  
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}


// これで、画面の下に出てくる！
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}