<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home", "#"%></li>
            <li><%= link_to root_path do%>Root<%end%></li>
            <li><%= link_to static_pages_help_path do%>Help<%end%></li>
            <li><%= link_to "About", static_pages_about_path %></li>
            <li></li>
            <li></li>
          </ul>
        </nav>  
      </div>
    </header>